.main-bg{
    width: 100%;
    background-image: url('/images/backgrounds/custom/anime.jpg');
    background-position: center;
    background-size: cover;
    position: fixed;
    height: 1vh;
    /* background-color: red; */
}